* {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* background-color: #4B3D3D; */
    /* color:#F5F4DC ; */
    font-family: "Lora", "Playfair Display", serif;
  }
 

  .main-inp{
    /* width: 360px;
    height: 150px;
    margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 20px 20px;

    /* background-color: pink; */
  }
  .main-inp input {
    display: flex;
   
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center; */
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    text-transform: capitalize;
    background-color: #F5F4DC;
    color: #4B3D3D;
    font-weight: 600;
    outline:none; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease
  }
  .main-inp ::placeholder{
    color: #4B3D3D;
    font-weight: 600;
  }
 .main-inp input:hover,
 .main-inp input:active{
    border: 2px solid #4B3D3D;
    box-shadow: 0px 0px 10px #F5F4DC;
    transform: scale(1.05);
 }
 .main-inp span {
    color: red;
    font-weight: 500;
 }