* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #4B3D3D;
    /* color:#F5F4DC ; */
    font-family: "Lora", "Playfair Display", serif;
  }


 .layout-pages{

    display: flex;
    gap: 10%; 

   
 }
 .user-page{
    background-color: #F5F4DC;
    height: 100vh;
    padding: 10px 20px;
    justify-content: space-around;
    width: 1/4;
    border-radius: 8px;
 }
 .user-page h1{
    color: #4B3D3D;
    padding-bottom: 20px;
    text-decoration: underline ;
 }

 .user-page h2{
    color: #4B3D3D;
    padding-bottom: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

 .user-page h2:hover,
 .user-page h2:active{
    cursor: pointer;
    color: #F5F4DC;
    background-color: #4B3D3D;
    border-radius: 6px;
    padding: 2px 4px;
    transform: scale(1.1);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
 }