* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Lora", "Playfair Display", serif;
  }
  
  body {
    background-color: #4b3d3d;
    color: #f5f4dc;
    font-family: "Lora", "Playfair Display", serif;
  }
  .detail-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    margin: 20px 30px;
    /* background-color: rgb(85, 85, 85); */
  }
/* .image{
    width: 500px;
} */
  .image img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 20px;
  }

  .detail-text{
    width: 500px;
    margin: 26PX 0;
    

    /* justify-content: center; */
    /* padding-left: 40px; */
  }
  .detail-text h1{
    font-size: 36px;
    color: #f5f4dc;
    /* text-decoration: underline;
    text-underline-offset: 10px; */
    /* font-weight: 400; */
    /* padding: 10px 0; */
    /* margin-bottom: 10px; */
    
  }
  .detail-text h2{
    font-size: 24px;
    font-weight: 600;
    color: #f5f4dc;
    margin-bottom: 6px;
  }
  .detail-text span{
    font-size: 22px;
    font-weight: 600;
  }
  .detail-text p {
    font-size: 18px;
    color: #f5f4dc;
    margin-bottom: 10px;
  }
  .detail-text h4{
    font-size: 16px;
    font-weight: 600;
    color: #f5f4dc;
    margin-bottom: 8px;
  }